@charset "utf-8";
/* CSS Document */

#diver { background-size: cover;
	height: 25%;
	width: 25%;
		background-image: url("swimmer.jpg"); 
		background-repeat: no-repeat;
	background-position: center;
	margin: auto;
	padding: 15%;

}

#duty { background-size: cover; 
	height: 425px;
	width: 200px;
		background-image: url("lifeguard.jpg"); 
		background-repeat: no-repeat;
	background-position: center;
	margin: auto;
	padding: 100px;
}

#child {background-size: cover;
		height: 25%;
		width: 25%;
		background-image: url("happy.jpg");
		background-repeat: no-repeat;
background-position: center;
	margin: auto;
	padding: 13%;}


body {background-color: #2c7fb8;
color: #000000;
font-family: arial, helvetica, sans-serif;
	font-size: 110%;

}
nav {float: right;

	width: 100px;
	font-size: 120%;
	position: fixed;
}
nav a { text-decoration: none; 
}
nav a:link { color: #fffffff; }
nav a:visited { color: #edf8b1; }
nav a:hover { color: #105788;}

h1 { 

color: #7fcbdd;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
		text-align: center;

}

h2 {
	font-size: 35px;
color: #7fcbdd;
font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: center;
	margin-top: 45px;
}

h3 { font-size: 25px; 
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: black;
}

h4 { font-size: 18px; 
	font-style: italic;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	color: black;
}


*
#border {
    background-color: #edf8b1;
    border: 3px solid #000000;
    padding-top: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    margin: 25px;
}

#floaty {background-image: url("rings.jpg");
	background-size: cover;
	float: right;
height: 300px;
	width: 300px;
		background-repeat: no-repeat;
margin-right: 10px;
	padding: 5px; }



table { width: 75%;
		margin: auto;
	border: 6px solid #7fcbdd;
border-collapse: collapse;}
td, th {padding: 0.5em; border: 3px solid #7fcbdd;}
td {text-align: center;}

.text{text-align: center;
		font-size: 20px; }

form {display: flex; flex-flow: column nowrap;
width: 30%;}
input, textarea {margin-bottom: .5em;}





@media (min-width: 1024px) {
#wrapper {
		width: 80%; 
		margin: auto;
	   border: 1px solid #002171;
	   box-shadow: 3px 3px 3px #002171;
}
nav {
	text-align: left;
	padding-left: 1em;}
	
	
	header { grid-row: 1 / 2; grid-column: 1 / 3; }
nav    { grid-row: 2 / 3; grid-column: 1 / 2; }
main   { grid-row: 2 / 3; grid-column: 2 / 3; }
	
}